
form.defaultForm.tutorialForm(action=(tutorial._id ? tutorial.webUrl : '/tutorials') method="post" name="tutorial")
  .field
    //- input(type="text" name="title" placeholder="Title" value=tutorial.title required autofocus autocomplete="off")
    input(type="text" name="title" placeholder="Title" value=tutorial.title autofocus autocomplete="off")

  .field
    //- input(type="url" name="sourceUrl" placeholder="Source URL" value=tutorial.sourceUrl autocomplete="off")
    input(type="text" name="sourceUrl" placeholder="Source URL" value=tutorial.sourceUrl autocomplete="off")
  
  .field
    textarea(name="content" placeholder="Content")= tutorial.content
    
  .field
    select.js-default-select(name="languages[]" multiple placeholder="Languages  ")
      each language in languages
        option(value=language.name selected=language.selected)= language.name

  .field    
    select(name="projects[]" multiple placeholder="Projects  ")
      if tutorial.projects
        each project in tutorial.projects
          option(value=project selected )= project
  .field
    select(name="keywords[]" multiple placeholder="Keywords")
      if tutorial.keywords
        each keyword in tutorial.keywords
          option(value=keyword selected )= keyword
      
  .field.buttons
    button.btn.btn-action(type="submit" name="publish") Publish
    //- button.btn(type="submit" name="draft") Save draft
